%nav.navbar.navbar-expand-md.navbar-dark.bg-warning.sticky-top
  .header
    .content-top
      %a.site-name{:href => "/"} Favorites
      .navbar-search
        =form_tag search_favorites_path,class: "header-form", method: 'get'  do
          %button.fa.fa-search{type: "submit"}
          = text_field_tag :search,params[:search],class: "header-field",placeholder: "お気に入りを検索" 
    .content-bottom
      %button.navbar-toggler{"aria-controls" => "navbar-content", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar-content", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbar-content.collapse.navbar-collapse.justify-content-end
        %ul.navbar-nav
         
          %li.dropdown
            %a.dropdown-toggle.nav-link.active{"data-toggle" => "dropdown", :href => "#"}
              マイページ
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                = link_to "登録サイト一覧",user_path(current_user),class:"a text-dark"
              %li
                = link_to "便利機能",favorites_convinient_path(current_user),class:"text-dark"
              %li
                = link_to "SNS",favorites_sns_path(current_user),class:"text-dark"
              %li
                = link_to "趣味",favorites_hobby_path(current_user),class:"text-dark"
              %li
                = link_to "ビジネス",favorites_bussiness_path(current_user),class:"text-dark"
              %li
                = link_to "買い物",favorites_shopping_path(current_user),class:"text-dark"
              %li
                = link_to "その他",favorites_other_path(current_user),class:"text-dark"
          %li.nav-item.active
            = link_to "お気に入り登録",new_favorite_path,class: "nav-link"
          %li.nav-item.active
            = link_to "アカウント編集",edit_user_path(current_user),class: "nav-link"
          %li.nav-item.active
            =link_to "ログアウト", destroy_user_session_path, method: :delete,class: "nav-link header-link", data: { confirm: 'ログアウトしますか？' }


      .content-right
        
  
      
    
  