%body
  =render 'favorites/header'
  .py-0
    %section#registration
      .container
        .error-area
          =render partial: 'error_messages', locals: {favorite: @favorite}
        .form
          %h3.mb-h3 お気に入り編集
          = form_with model:@favorite,local: true do|f|
            .form-group
              %label{:for => "text1"} サイト名:
              = f.text_field :name,class: 'form-control',id: 'favorite_name'
            .form-group
              %label{:for => "text1"} リンク先URL:
              = f.text_field :url,class: 'form-control',id: 'favorite_url'
            .form-group
              .field.image
                %label{:for => "text1"}画像ファイル: 
                #img_field{:onclick => "$('#file').click()"}
                  - if @favorite.image.url.present?
                    = image_tag(@favorite.image.url)
                  - else
                    %i.fas.fa-image
                    %i.fas.fa-file-upload.add
                = f.file_field :image, class: "image", style: "display:none;", id: "file"
             
            .form-group
              %label{:for => "textarea1"} コメント:
              = f.text_area :text,rows: 8,class: 'form-control',id: 'favorite_text'
            .from-button
              = f.submit "編集",class: 'btn btn-warning'

%footer.py-4.bg-warning.text-light
  =render 'favorites/footer'