%body
  =render 'favorites/header'

  .py-0
    %section#recommended
      .container
        .content-message
          %h3.mb-h3.text-center
            ="ようこそ"+current_user.name+"さん"
        .content
          %h3.mb-h3 
            =current_user.name+"さんへのおすすめサイト"
        .row
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal01","data-toggle" => "modal"}
                  = image_tag 'amazon.png', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center amazon
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal02","data-toggle" => "modal"}
                  = image_tag 'aws.png', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center aws
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal03","data-toggle" => "modal"}
                  = image_tag 'facebook.png', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center facebook
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal04","data-toggle" => "modal"}
                  = image_tag 'hulu.png', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center hulu
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal05","data-toggle" => "modal"}
                  = image_tag 'instagram.png', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center instagram
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal06","data-toggle" => "modal"}
                  = image_tag 'netflix.png', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center netflix
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal07","data-toggle" => "modal"}
                  = image_tag 'twitter.png', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center twitter
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal08","data-toggle" => "modal"}
                  = image_tag 'uber_eats', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center uber eats
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal09","data-toggle" => "modal"}
                  = image_tag 'yahoo.png', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center yahoo
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal10","data-toggle" => "modal"}
                  = image_tag 'youtube.png', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center youtube
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal11","data-toggle" => "modal"}
                  = image_tag '楽天.png', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center 楽天
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal12","data-toggle" => "modal"}
                  = image_tag 'google_map.png', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center google map
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal13","data-toggle" => "modal"}
                  = image_tag 'google.png', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center google
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal14","data-toggle" => "modal"}
                  = image_tag 'ameba.png', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center ameba
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal15","data-toggle" => "modal"}
                  = image_tag 'yahoo天気.png', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center yahoo天気
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal16","data-toggle" => "modal"}
                  = image_tag 'taberogu.png', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center 食べログ
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal17","data-toggle" => "modal"}
                  = image_tag 'livedoor.png', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center livedoor
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal18","data-toggle" => "modal"}
                  = image_tag 'wikipedia.png', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center wikipedia
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal19","data-toggle" => "modal"}
                  = image_tag 'line.png', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center Line
          .col-sm-6.col-md-3
            .card.img-thumbnail
              .image-area
                %a{"data-target" => "#modal20","data-toggle" => "modal"}
                  = image_tag 'google翻訳.png', class: 'img btn card-img-thumbnail',alt: "画像"
              .card-body.px-2.py-3
                %h5.card-text.text-center google翻訳
          

          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal01-label", :role => "dialog", :tabindex => "-1", id: "modal01"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title amazon
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag 'amazon.png', class: 'img img-fluid',alt: "画像"
                %p.url-area.text-center
                  http://www.amazon.co.jp
                %p.coment-area.text-left
                  世界13カ国で運営する世界最大級のインターネット通販サイト。2000年に日本向けのサイト「Amazon.co.jp」が開設された。
                  取り扱う商品は、書籍やCDから食品、家電まで、日本国内だけで1億点を超える。
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal02-label", :role => "dialog", :tabindex => "-1", id: "modal02"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title aws
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag 'aws.png', class: 'img img-fluid',alt: "画像"
                %p.url-area.text-center
                  https://aws.amazon.com/jp/
                %p.coment-area.text-left
                  Amazon.comにより提供されているクラウドコンピューティングサービス
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal03-label", :role => "dialog", :tabindex => "-1", id: "modal03"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title facebook
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag 'facebook.png', class: 'img img-fluid',alt: "画像"
                %p.url-area.text-center
                  www.facebook.com
                %p.coment-area.text-left
                  アメリカ合衆国カリフォルニア州メンローパークに本社を置くFacebook, Inc.が運営する
                  世界最大のソーシャル・ネットワーキング・サービス（SNS）である。
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal04-label", :role => "dialog", :tabindex => "-1", id: "modal04"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title hulu
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag 'hulu.png', class: 'img img-fluid',alt: "画像"
                %p.url-area.text-center
                  http://www.hulu.jp/
                %p.coment-area.text-left
                  アメリカカリフォルニア州ロサンゼルスに本拠地を置く動画配信サービス。Huluとは中国語で大事なものを入れる入れ物であるひょうたんを意味する「葫芦」
                  （繁体字: 葫蘆、拼音: húlú）とインタラクティブに記録することを意味する「互录」（繁体字: 互錄、拼音: hùlù）とにちなむ。
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal05-label", :role => "dialog", :tabindex => "-1", id: "modal05"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title instagram
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag 'instagram.png', class: 'img img-fluid',alt: "画像" 
                %p.url-area.text-center
                  https://www.instagram.com
                %p.coment-area.text-left
                  Facebook, Incが提供している無料の写真共有アプリケーション。
                  日本語では略して「インスタ(表記insta)」とも呼ばれることもある。
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal06-label", :role => "dialog", :tabindex => "-1", id: "modal06"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title NETFLIX
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag 'netflix.png', class: 'img img-fluid',alt: "画像" 
                %p.url-area.text-center
                  https://www.netflix.com/jp/
                %p.coment-area.text-left
                  配信事業を展開し,ストリーミング配信では既存のコンテンツに加え、独占配信やオリジナル作品も扱っている。
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal07-label", :role => "dialog", :tabindex => "-1", id: "modal07"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title twitter
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag 'twitter.png', class: 'img img-fluid',alt: "画像"
                %p.url-area.text-center
                  https://twitter.com/
                %p.coment-area.text-left
                  アメリカ合衆国、カリフォルニア州サンフランシスコに本社を置くTwitter, Inc.のソーシャル・ネットワーキング・サービス。
                  「ツイート」と呼ばれる半角280文字（日本語、中国語、韓国語は全角140文字）以内のメッセージや画像、動画、URLを投稿できる。
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal08-label", :role => "dialog", :tabindex => "-1", id: "modal08"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title Uber Eats
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag 'uber_eats.png', class: 'img img-fluid',alt: "画像" 
                %p.url-area.text-center
                  https://www.ubereats.com/ja-JP/
                %p.coment-area.text-left
                  モバイルアプリケーション(iOS、Androidのみ対応)を使って対応している飲食店に出前を注文できる
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal09-label", :role => "dialog", :tabindex => "-1", id: "modal09"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title yahoo
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag 'yahoo.png', class: 'img img-fluid',alt: "画像"    
                %p.url-area.text-center
                  https://www.yahoo.co.jp
                %p.coment-area.text-left
                  インターネット関連サービスの提供を行っていた企業の草分けの1つであり、
                  検索エンジンをはじめとしたポータルサイトの運営企業。
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal10-label", :role => "dialog", :tabindex => "-1", id: "modal10"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title youtube
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag 'youtube.png', class: 'img img-fluid',alt: "画像"
                %p.url-area.text-center
                  https://www.youtube.com
                %p.coment-area.text-left
                  アメリカ合衆国・カリフォルニア州サンブルーノに本社を置く世界最大の動画共有サービス。
                  Youは「あなた」、Tubeは「ブラウン管（テレビ）」という意味である。
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal11-label", :role => "dialog", :tabindex => "-1", id: "modal11"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title 楽天市場
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag '楽天.png', class: 'img img-fluid',alt: "画像"
                %p.url-area.text-center
                  http://www.rakuten.co.jp/
                %p.coment-area.text-left
                  国内最大の電子商店街である「楽天市場」（らくてんいちば）を運営
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal12-label", :role => "dialog", :tabindex => "-1", id: "modal12"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title google map
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag 'google_map.png', class: 'img img-fluid',alt: "画像"
                %p.url-area.text-center
                  https://www.google.co.jp/maps
                %p.coment-area.text-left
                  Googleがインターネットを通して提供している地図、ローカル（地域）検索サービス。
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal13-label", :role => "dialog", :tabindex => "-1", id: "modal13"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title google
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag 'google.png', class: 'img img-fluid',alt: "画像"
                %p.url-area.text-center
                  https://www.google.com
                %p.coment-area.text-left
                  Googleが提供する検索エンジンで、World Wide Web上で最も多く使われている検索エンジンである
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal14-label", :role => "dialog", :tabindex => "-1", id: "modal14"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title ameba
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag 'ameba.png', class: 'img img-fluid',alt: "画像"
                %p.url-area.text-center
                  http://www.ameba.jp/
                %p.coment-area.text-left
                  株式会社サイバーエージェントが運営しているネットサービスのブランド名である。ブログサービス、交流サイト、ニュースサイトなどを運営。
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal15-label", :role => "dialog", :tabindex => "-1", id: "modal15"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title yahoo天気
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag 'yahoo天気.png', class: 'img img-fluid',alt: "画像"     
                %p.url-area.text-left
                  http://weather.yahoo.co.jp/weather/
                %p.coment-area.text-center
                  Yahoo! JAPANが運営する天気予報サイト。日本国内の天気の情報を提供しているサイトである。
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal16-label", :role => "dialog", :tabindex => "-1", id: "modal16"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title 食べログ
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag 'taberogu.png', class: 'img img-fluid',alt: "画像"
                %p.url-area.text-center
                  http://tabelog.com/
                %p.coment-area.text-left
                  カカクコムグループが運営するグルメレビューサイトである。
                  コンセプトは「ランキングと口コミで探せるグルメサイト」。
                  ユーザーの口コミと共に全国のレストラン情報が掲載されている。
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal17-label", :role => "dialog", :tabindex => "-1", id: "modal17"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title livedoor
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag 'livedoor.png', class: 'img img-fluid',alt: "画像"
                %p.url-area.text-center
                  http://www.livedoor.com/
                %p.coment-area.text-left
                  ライブドア (英: livedoor) は、韓国のインターネットサービス会社であるネイバーの子会社、LINEが運営するポータルサイトである。
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal18-label", :role => "dialog", :tabindex => "-1", id: "modal18"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title wikipedia
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag 'wikipedia.png', class: 'img img-fluid',alt: "画像"
                %p.url-area.text-center
                  https://www.wikipedia.org/
                %p.coment-area.text-left
                  ウィキメディア財団が運営しているインターネット百科事典である。
                  コピーレフトなライセンスのもと、サイトにアクセス可能な誰もが無料で自由に編集に参加できる。世界の各言語で展開されている。
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal19-label", :role => "dialog", :tabindex => "-1", id: "modal19"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title LINE
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag 'line.png', class: 'img img-fluid',alt: "画像"
                %p.url-area.text-center
                  https://line.me/ja/
                %p.coment-area.text-left
                  LINE株式会社（旧NHN Japan株式会社）が開発し提供するソーシャル・ネットワーキング・サービス(SNS)、ならびに同サービスにおけるクライアントソフトウェアの名称である。
                  スマートフォンやパソコンに対応し、インターネット電話やテキストチャットなどの機能を有する。2012年7月3日にはプラットフォーム化が発表された
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal20-label", :role => "dialog", :tabindex => "-1", id: "modal20"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                .modal-header
                  %h5#modal01-label.modal-title google翻訳
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  %p.text-center
                    = image_tag 'google翻訳.png', class: 'img img-fluid',alt: "画像"
                %p.url-area.text-left
                  https://translate.google.co.jp
                %p.coment-area.text-left
                  Googleが提供する翻訳サイトで、テキストの一部分、もしくはウェブページ全体を他言語に翻訳するサービスである
                .modal-footer
                  =link_to '登録',new_favorite_path,class: 'btn btn-warning'
                  

%footer.bg-warning.text-left.fixed-bottom
  =render 'favorites/footer'
