%body
  =render 'favorites/header'

  .py-0
    %section#recommended
      .container
        .content-message
          %h3.mb-h3.text-center
            ="ようこそ"+current_user.name+"さん"
        .content
          %h3.mb-h3 
            =current_user.name+"さんへのおすすめサイト"
        .row
          - @recommended.each do |recommended|
            .col-sm-6.col-md-3
              .card.img-thumbnail
                .image-area
                  %a{"data-target" => "#modal#{recommended.id}","data-toggle" => "modal"}
                    %img.btn.card-img-thumbnail{:alt => "画像", :src => recommended.image}
                .card-body.px-2.py-3
                  %h5.card-text.text-center #{recommended.name}

            .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal01-label", :role => "dialog", :tabindex => "-1", id: "modal#{recommended.id}"}
              .modal-dialog.modal-dialog-centered{:role => "document"}
                .modal-content
                  .modal-header
                    %h5#modal01-label.modal-title #{recommended.name}
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                  .modal-body
                    %p.text-center
                      %img.btn.card-img-thumbnail{:alt => "画像", :src => recommended.image}
                  %p.url-area.text-center
                    #{recommended.url}
                  %p.coment-area.text-left
                    #{recommended.text}
                  .modal-footer
                    =link_to '登録',new_favorite_path,class: 'btn btn-warning',"data-toggle"=>"tooltip","data-placement"=>"top","title"=>"おすすめサイトをお気に入りに登録"
        
%footer.bg-warning.text-left.fixed-bottom
  =render 'favorites/footer'
