%body
  -# ヘッダー
  %nav.navbar.navbar-expand-md.navbar-dark.bg-warning.sticky-top
    .container
      %a.navbar-brand{:href => "/"} Favorites
      %button.navbar-toggler{"aria-controls" => "navbar-content", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar-content", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbar-content.collapse.navbar-collapse.justify-content-end
        %ul.navbar-nav
          %li.nav-item.active
            %a.nav-link{:href => "#"}
              お気に入り登録
              %span.sr-only (current)
          %li.nav-item
            %a.nav-link{:href => "#menu"} ログアウト

  .py-0
    %section#registration
      .container
        .form
          %h3.mb-h3 お気に入り登録
          = form_with model:@favorite,local: true do|f|
            .form-group
              %label{:for => "text1"} サイト名:
              = f.text_field :name,class: 'form-control',id: 'favprite_name',placeholder: "例)google"
            .form-group
              %label{:for => "text1"} リンク先URL:
              = f.text_field :url,class: 'form-control',id: 'favprite_url',placeholder: "例)https://www.google.com"
            .form-group
              %label{:for => "text1"} 画像ファイル:
              = f.file_field :image, accept: 'image/jpeg,image/gif,image/png'
            .form-group
              %label{:for => "textarea1"} コメント:
              = f.text_area :description,rows: 8,class: 'form-control',id: 'favorite_text',placeholder: "例)なんでもどうぞ"
            .from-button
              = f.submit "登録",class: 'btn btn-warning'

-# フッター
%footer.py-4.bg-warning.text-light
  .container.text-center
    %ul.nav.justify-content-center.mb-3
      %li.nav-item
        %a.nav-link{:href => "#"} Top
      %li.nav-item
        %a.nav-link{:href => "#recommended"} おすすめサイト
      %li.nav-item
        %a.nav-link{:href => "#"} お気に入り登録
      %li.nav-item
        %a.nav-link{:href => "#"} ログアウト
      %li.nav-item
    %p
      %samll Copyright ©2019 Favorites, All Rights Reserved.